<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>谷粒订单</title>

</head>
<body>
<!--  one_order_advt广告模块  -->

<div class="buy">
    <div class="buy_top">
        <div>买什么</div>
        <div>查看更多商品专辑</div>
    </div>
    <div style="clear:both;"></div>
    <div class="buy_btm">
        <dl>
            <dt>
                <div>最适合冬季的茶</div>
                <p>不入魔不成仙</p>
            </dt>
            <dd class="ab_goods">
                <div><img src="img/bu.jpg" alt=""></div>
                <div>
                    <img src="img/1xb.jpg" alt="">
                    <img src="img/1xb1.jpg" alt="">
                    <div>32</div>
                </div>
            </dd>
            <div style="clear:both;"></div>
            <dd class="ab_operate">
                <ul>
                    <li class="guanzhu"><i class="buy_btm_i1 buy_btm_i"></i>关注 5</li>
                    <li class="zhan"><i class="buy_btm_i2 buy_btm_i0"></i>赞 5</li>
                    <div style="clear:both;"></div>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>
                <div>用新奇搞怪献给那些有趣的灵魂</div>
                <p>小太阳骥少</p>
            </dt>
            <dd class="ab_goods">
                <div><img src="img/bu1.jpg" alt=""></div>
                <div>
                    <img src="img/2xb.jpg" alt="">
                    <img src="img/2xb1.jpg" alt="">
                    <div>17</div>
                </div>
            </dd>
            <div style="clear:both;"></div>
            <dd class="ab_operate">
                <ul>
                    <li class="guanzhu"><i class="buy_btm_i1 buy_btm_i"></i>关注 5</li>
                    <li class="zhan"><i class="buy_btm_i2 buy_btm_i0"></i>赞 5</li>
                    <div style="clear:both;"></div>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>
                <div>流感来了，如何做好防护？</div>
                <p>JD-guliyuan</p>
            </dt>
            <dd class="ab_goods">
                <div><img src="img/bu2.jpg" alt=""></div>
                <div>
                    <img src="img/3xb.jpg" alt="">
                    <img src="img/3xb1.jpg" alt="">
                    <div>23</div>
                </div>
            </dd>
            <div style="clear:both;"></div>
            <dd class="ab_operate">
                <ul>
                    <li class="guanzhu"><i class="buy_btm_i1 buy_btm_i"></i>关注 2</li>
                    <li class="zhan"><i class="buy_btm_i2 buy_btm_i0"></i>赞 5</li>
                    <div style="clear:both;"></div>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>
                <div>流感来了，如何做好防护？</div>
                <p>JD-guliyuan</p>
            </dt>
            <dd class="ab_goods">
                <div><img src="img/bu3.jpg" alt=""></div>
                <div>
                    <img src="img/xb.jpg" alt="">
                    <img src="img/xb1.jpg" alt="">
                    <div>23</div>
                </div>
            </dd>
            <div style="clear:both;"></div>
            <dd class="ab_operate">
                <ul>
                    <li class="guanzhu"><i class="buy_btm_i1 buy_btm_i"></i>关注 4</li>
                    <li class="zhan"><i class="buy_btm_i2 buy_btm_i0"></i>赞 11</li>
                    <div style="clear:both;"></div>
                </ul>
            </dd>
        </dl>
        <div style="clear:both;"></div>
    </div>
</div>

<div class="mySwiper">
    <div class="mySwiper_like">
        <div class="left">猜你喜欢</div>
        <ol>
            <li class="liList">1</li>
            <li class="liList">2</li>
            <li class="liList">3</li>
            <div style="clear:both"></div>
        </ol>
        <div style="clear:both"></div>
    </div>
    <ul>
        <li style="display:block;">
            <dl>
                <dt><img src="image/lunbo.jpg" alt=""></dt>
                <dd>
                    <div>花王 (Merries) 妙而舒 纸尿裤</div>
                    <div>大号 L54片 尿不湿（9-14千克）</div>
                    <p>¥83.90</p>
                    <span>(已有363668人评价)</span>
                </dd>
            </dl>
            <dl>
                <dt><img src="image/lunbo1.jpg" alt=""></dt>
                <dd>
                    <div>三只松鼠 肉干肉脯 休闲零食</div>
                    <div>猪肉脯自然片150g/袋子</div>
                    <p>¥26.90</p>
                    <span>(已有448374人评价)</span>
                </dd>
            </dl>
            <dl>
                <dt><img src="image/lunbo2.jpg" alt=""></dt>
                <dd>
                    <div>满减不止5折三只松鼠_小贱牛</div>
                    <div>板筋120gx1袋休闲零食特产</div>
                    <p>¥22.80</p>
                    <span>(已有169149人评价)</span>
                </dd>
            </dl>
            <dl>
                <dt><img src="image/lunbo3.jpg" alt=""></dt>
                <dd>


                    <div>良品铺子鸭脖子 甜辣味真空小包装</div>
                    <div>香辣卤味零食休闲小吃熟食190g</div>
                    <p>¥21.90</p>
                    <span>(已有208040人评价)</span>
                </dd>
            </dl>
            <dl>
                <dt><img src="image/lunbo4.jpg" alt=""></dt>
                <dd>
                    <div>欧莱雅（LOREAL）男士控油</div>
                    <div>（男士洗面奶 收缩毛孔 去黑头）</div>
                    <p>¥39.00</p>
                    <span>(已有604670人评价)</span>
                </dd>
            </dl>
            <div style="clear:both;"></div>
        </li>
        <li>
            <dl>
                <dt><img src="image/live.jpg" alt=""></dt>
                <dd>
                    <div>花王 (Merries) 妙而舒 纸尿裤</div>
                    <div>大号 L54片 尿不湿（9-14千克）</div>
                    <p>¥83.90</p>
                    <span>(已有363668人评价)</span>
                </dd>
            </dl>
            <dl>
                <dt><img src="image/live1.jpg" alt=""></dt>
                <dd>
                    <div>三只松鼠 肉干肉脯 休闲零食</div>
                    <div>猪肉脯自然片150g/袋子</div>
                    <p>¥26.90</p>
                    <span>(已有448374人评价)</span>
                </dd>
            </dl>
            <dl>
                <dt><img src="image/live2.jpg" alt=""></dt>
                <dd>
                    <div>满减不止5折三只松鼠_小贱牛</div>
                    <div>板筋120gx1袋休闲零食特产</div>
                    <p>¥22.80</p>
                    <span>(已有169149人评价)</span>
                </dd>
            </dl>
            <dl>
                <dt><img src="image/live3.jpg" alt=""></dt>
                <dd>


                    <div>良品铺子鸭脖子 甜辣味真空小包装</div>
                    <div>香辣卤味零食休闲小吃熟食190g</div>
                    <p>¥21.90</p>
                    <span>(已有208040人评价)</span>
                </dd>
            </dl>
            <dl>
                <dt><img src="image/live4.jpg" alt=""></dt>
                <dd>
                    <div>欧莱雅（LOREAL）男士控油</div>
                    <div>（男士洗面奶 收缩毛孔 去黑头）</div>
                    <p>¥39.00</p>
                    <span>(已有604670人评价)</span>
                </dd>
            </dl>
            <div style="clear:both;"></div>
        </li>
        <li>
            <dl>
                <dt><img src="image/lunbo5.jpg" alt=""></dt>
                <dd>
                    <div>花王 (Merries) 妙而舒 纸尿裤</div>
                    <div>大号 L54片 尿不湿（9-14千克）</div>
                    <p>¥83.90</p>
                    <span>(已有363668人评价)</span>
                </dd>
            </dl>
            <dl>
                <dt><img src="image/lunbo6.jpg" alt=""></dt>
                <dd>
                    <div>三只松鼠 肉干肉脯 休闲零食</div>
                    <div>猪肉脯自然片150g/袋子</div>
                    <p>¥26.90</p>
                    <span>(已有448374人评价)</span>
                </dd>
            </dl>
            <div style="clear:both;"></div>
        </li>
    </ul>
</div>
</body>
</html>