<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>谷粒订单</title>

</head>
<body>
<!--  one_order_bigLeft广告模块  -->
<div id="bigLeft">
    <ul>
        <h5>订单中心</h5>
        <li style="color:#E4393C;font-weight:800;">我的订单</li>
        <li>我的活动</li>
        <li>评价晒单</li>
        <li>我的常购商品<img src="img/new.png"></li>
        <li>购物助手</li>
    </ul>
    <ul>
        <h5>关注中心</h5>
        <li>关注的商品</li>
        <li>关注的店铺</li>
        <li>关注的专辑</li>
        <li>收藏的内容<img src="img/new.png"></li>
        <li>关注的活动</li>
        <li>浏览历史</li>
    </ul>
    <ul>
        <h5>资产中心</h5>
        <li>小金库</li>
        <li>谷粒白条</li>
        <li>领货码</li>
        <li>余额</li>
        <li>优惠券</li>
        <li>礼品卡</li>
        <li>京豆</li>
        <li>谷粒钢镚<img src="img/new.png"></li>
    </ul>
    <ul>
        <h5>特色业务</h5>
        <li>我的营业厅</li>
        <li>谷粒通信</li>
        <li>定期购</li>
        <li>我的回收单</li>
        <li>节能补贴</li>
        <li>医药服务</li>
        <li>流量加油站</li>
        <li>黄金托管</li>
        <li>视频教育订单</li>
        <li>海外房产预约</li>
        <li>我的全球购</li>
        <li>装修服务</li>
    </ul>
    <ul>
        <h5>客户服务</h5>
        <li>返修退换货</li>
        <li>价格保护</li>
        <li>意见建议</li>
        <li>我的问答</li>
        <li>购买咨询</li>
        <li>交易纠纷</li>
        <li>谷粒维修</li>
        <li>上门预约服务</li>
        <li>我的发票</li>
        <li>举报中心</li>
    </ul>
    <ul>
        <h5>设置</h5>
        <li>个人信息</li>
        <li>收货地址</li>
        <li><img src="img/59126ae3N1b306e2c.jpg" alt=""></li>
    </ul>
</div>
</body>
</html>