<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>谷米商城</title>
		<link rel="stylesheet" type="text/css" href="/scss/shop.css" />
		<link rel="stylesheet" type="text/css" href="/scss/main.css"/>
		<link rel="stylesheet" href="/scss/header.css" />
		<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css"/>
	</head>
	<body>
		<div id="max">
		<header>
		<input type = "hidden" th:value="${skuSaleAttrHashJsonStr}" id="valuesSku"/>
					<div class="min">
						<ul class="header_ul_left">
							<li class="glyphicon glyphicon-home"> <a onclick="go_Index()" class="aa">首页</a></li>
							<li class="glyphicon glyphicon-map-marker"> <a href="javascript:;">北京</a>
								<ol id="beijing">
									<li style="background: red;"><a href="javascript:;" style="color: white;">北京</a></li>
									<li><a href="javascript:;">上海</a></li>
									<li><a href="javascript:;">天津</a></li>
									<li><a href="javascript:;">重庆</a></li>
									<li><a href="javascript:;">河北</a></li>
									<li><a href="javascript:;">山西</a></li>
									<li><a href="javascript:;">河南</a></li>
									<li><a href="javascript:;">辽宁</a></li>
									<li><a href="javascript:;">吉林</a></li>
									<li><a href="javascript:;">黑龙江</a></li>
									<li><a href="javascript:;">内蒙古</a></li>
									<li><a href="javascript:;">江苏</a></li>
									<li><a href="javascript:;">山东</a></li>
									<li><a href="javascript:;">安徽</a></li>
									<li><a href="javascript:;">浙江</a></li>
									<li><a href="javascript:;">福建</a></li>
									<li><a href="javascript:;">湖北</a></li>
									<li><a href="javascript:;">湖南</a></li>
									<li><a href="javascript:;">广东</a></li>
									<li><a href="javascript:;">广西</a></li>
									<li><a href="javascript:;">江西</a></li>
									<li><a href="javascript:;">四川</a></li>
									<li><a href="javascript:;">海南</a></li>
									<li><a href="javascript:;">贵州</a></li>
									<li><a href="javascript:;">云南</a></li>
									<li><a href="javascript:;">西藏</a></li>
									<li><a href="javascript:;">陕西</a></li>
									<li><a href="javascript:;">甘肃</a></li>
									<li><a href="javascript:;">青海</a></li>
									<li><a href="javascript:;">宁夏</a></li>
									<li><a href="javascript:;">新疆</a></li>
									<li><a href="javascript:;">港澳</a></li>
									<li><a href="javascript:;">台湾</a></li>
									<li><a href="javascript:;">钓鱼岛</a></li>
									<li><a href="javascript:;">海外</a></li>
								</ol>
							</li>
						</ul>
						<ul class="header_ul_right">
							<li style="border: 0;"><a href="#" class="aa" th:if="${nickname}!=null" th:text="'您好, ' + ${nickname}">你好，请登录</a></li>
							<li><a style="color: red" href="http://passport.gmall.com:8085/logout" class="li_2">注销</a> |</li>
							<li><a onclick="go_one_order()" class="aa">我的订单</a> |</li>
 
						</ul>
					</div>
				</header>
				<nav>
				<div class="nav_min">
					<div class="nav_top">
						<div class="nav_top_one"><a onclick="go_Index()"><img src="/img/logo1.jpg"/></a></div>
						<div class="nav_top_two"><input type="text"/><button onclick="search()" >搜索</button></div>
						<div class="nav_top_three"><a onclick="go_my_cart()">我的购物车</a><span class="glyphicon glyphicon-shopping-cart"></span>
							<div class="nav_top_three_1">
								<img src="/img/44.png"/>购物车还没有商品，赶紧选购吧！
							</div>
						</div>
					</div>
					<div class="nav_down">
						<ul class="nav_down_ul">
							<li class="nav_down_ul_1" style="width: 24%;float: left;"><a href="javascript:;">全部商品分类</a>

							</li>
							 
						</ul>
					</div>
				</div>
			</nav>

				</div>


			<div class="crumb-wrap">
			<div class="w">
	 
 

			</div>
		</div>
<div class="Shop">
		<div class="box">
			<div class="box-one ">
				<div class="boxx">

					<div class="imgbox">
						<div class="probox">
							<img class="img1" alt="" th:src="${skuInfo?.skuDefaultImg}"  src="/img/59ded626N7c4cb0a3.jpg">
							<div class="hoverbox"></div>
						</div>
						<div class="showbox">
							<img class="img1" alt="" th:src="${skuInfo?.skuDefaultImg}" src="/img/59ded626N7c4cb0a3.jpg">
						</div>
					</div>

					<div class="box-lh">

						<div class="box-lh-one">
							<ul>
								<li th:each="skuImage:${skuInfo?.skuImageList}">
								 		<img th:src="${skuImage.imgUrl}"/>
								</li>
							</ul>
						</div>
						<div id="left">

						</div>
						<div id="right">

						</div>

						</div>

						<div class="boxx-one">
							<ul>
								<li>
									 
								</li>
								<li>

								</li>
							</ul>
						</div>

					</div>
					<div class="box-two">
						<div class="box-name" th:text="${skuInfo?.skuName}">
							华为 HUAWEI Mate 10 6GB+128GB 亮黑色 移动联通电信4G手机 双卡双待
						</div>
 
						<div class="box-yuyue">
							<div class="yuyue-one">
								 热卖促销中
							</div>
							<div class="yuyue-two">
								<ul>
									<li>
										 
									</li>
									<li>
		 
									</li>
								</ul>
							</div>
						</div>
						<div class="box-summary clear">
							<ul>
								<li>惊喜价</li>
								<li>
									<span>￥</span>
									<span th:text="${skuInfo?.price}">4499.00</span>
								</li>
								<li>
								 
								</li>
								<li>
									<a href="">
										 
									</a>
								</li>
							</ul>
						</div>
						<div class="box-wrap clear">
							 
						</div>

						<div class="box-stock">
							<ul class="box-ul">
								<li>库存:</li>
								<li class="box-stock-li">
									<div class="box-stock-one">
									</div>
 

								</li>
								<li>
									<span>无货</span>， 此商品暂时售完
								</li>
 
							</ul>
						</div>
						 <div class="box-stock">
							<ul class="box-ul">
								<li>重  量:</li>
								<li class="box-stock-li">
									<div class="box-stock-one">
									</div>
 

								</li>
								<li  th:text="${skuInfo?.weight}+' kg'">
									  10 kg
								</li>
 
							</ul>
						</div>
						  
						<div class="box-attr-3">
						<br/>
							<div class="box-attr-2 clear"  th:each="spuSaleAttr:${spuSaleAttrListCheckBySku}">
								<dl>
									<dt th:text="${spuSaleAttr.saleAttrName}">销售属性</dt>
									<dd  th:class="(${saleAttrValue.isChecked}=='1'?'redborder':'')" th:each="saleAttrValue:${spuSaleAttr.spuSaleAttrValueList}">
										<div onclick="switchSkuId()" th:value="${saleAttrValue.id}" th:text="${saleAttrValue.saleAttrValueName}">
											  摩卡金
										</div>
									</dd>
								</dl>
							</div>

							<br/>
						</div>

						<div class="box-btns clear">
							<div class="box-btns-one">
								<form id="itemForm" action="http://cart.gmall.com:8084/addToCart" method="post">
									<input type="text" name="quantity" id="quantity"  value="1"/>
									<input type="hidden" name="skuId"  th:value="${skuInfo?.id}" />
									<input type="hidden" name="token" />
									<div class="box-btns-one1">

										<div>
											<button type="button" id="jia">
												+
											</button>
										</div>
										<div>
											<button type="button" id="jian">
												-
											</button>
										</div>

									</div>
								</form>
							</div>
							<div id="cartBtn"  style="cursor:pointer;"  canClick="1"  onclick="addToCart(this)" class="box-btns-two">

								放入购物车

							</div>
						</div>

						 
					</div>

				</div>
			</div>

			<!-- 商品详情页 -->
			<div th:include="itemInner::innerPart"> </div>

		</div>


<!--		<input id="skuId" type="text"  th:value= " ${skuInfo?.id}"  />-->

		<div class="Fixedbian">
			<ul>
				<li class="li1"><a class="aaa" href="##">顶部</a></li>
			</ul>
		</div>
		<div class="gouwuchexiaguo">
			<img src="/img/44.png" />
			<span>购物车还没有商品，赶紧选购吧！</span>
		</div>
	</body>

	<script src="/js/jquery1.9.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/spuId_66.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/js.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		//http://item.gmall.com:8082/43.html?token=eyJhbGciOiJIUzI1Nikfg....
		var nickname;
		var token;
		$(document).ready(function () {
			nickname = getQueryVariable("nickname");
			token = getQueryVariable("token");
		})

		function go_my_cart() {
			window.location.href="http://cart.gmall.com:8084/cartList?token="+token+"&nickname="+nickname;
		}

		function go_Index() {
			window.location.href="http://search.gmall.com:8083/index?token="+token+"&nickname="+nickname;
		}

		//加减函数
		$("#jia").click(function () {
			var quantity = parseInt(document.getElementById("quantity").value);
			quantity = quantity + 1;
			document.getElementById("quantity").value = quantity;
		})

		$("#jian").click(function () {
			var quantity = parseInt(document.getElementById("quantity").value);
			quantity = quantity - 1;
			if(quantity > 0) {
				document.getElementById("quantity").value = quantity;
			}
		})

		function getQueryVariable(variable) {
			var query = window.location.search.substring(1);
			var vars = query.split("&");
			for (var i = 0; i < vars.length; i++) {
				var pair = vars[i].split("=");
				if(pair[0] == variable){return decodeURIComponent(pair[1]);}
			}
			return(false);
		}

        function addToCart(obj){
            var canClick = $(obj).attr("canClick");
            if(canClick=='0'){
                return ;
            }

            if(token){
            	$("input[name='token']").val(token);
			}
			$("#itemForm").submit();
        }

        function switchSkuId() {
            var skuSaleAttrValueJsonStr = $("#valuesSku").val();
            var saleAttrValueIds = $(".redborder div");
            var k = "";
            $(saleAttrValueIds).each(function(i,saleAttrValueId){
               k = k +  $(saleAttrValueId).attr("value")+"|";
			});
            
            var kuSaleAttrValueJson = JSON.parse(skuSaleAttrValueJsonStr);
			var v_skuId = kuSaleAttrValueJson[k];
			if(v_skuId){
                window.location.href = "http://item.gmall.com:8082/"+v_skuId+".html"+"?token="+token+"&nickname="+nickname;
			}

        }

		function go_one_order() {
			window.location.href="http://order.gmall.com:8086/one_order.html?token="+token+"&nickname="+nickname;
		}
	</script>

</html>
